.form {
    width: fit-content;
    height: fit-content;
}
.inputs {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin: 1rem;
    width: 14.5rem;
    height: 3rem;
    font-size: large;
    background-color: rgb(46, 46, 46);
    box-shadow: 10px 5px 5px rgb(17, 17, 17);
    color:rgb(65, 65, 65)
    
}
.submit {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  margin: 1rem;
  height: 2rem;
  font-size: large;
  background-color: rgb(46, 46, 46);
  box-shadow: 10px 5px 5px rgb(17, 17, 17);
  color: rgba(65, 65, 65);
}
