.container {
    width:80rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    box-shadow: 10px 5px 5px rgb(17, 17, 17);
}
.header {
    width: 100%;
    background-color: rgb(12, 12, 12);
    font-size: 3rem;
    box-shadow: 10px 5px 5px rgb(19, 19, 19);
    color: rgb(90, 94, 89);
}
.menucontainer {
    width: 97%;
    margin: 1rem;
    background-color: rgb(52, 51, 51);
    box-shadow: 10px 5px 5px rgb(19, 19, 19);
}
.taskcontainer {
    display: flex;
    flex-direction:column ;
    width: 97%;
    margin: 1rem;
    height: auto;
    background-color: rgb(52, 51, 51);
    box-shadow: 10px 5px 5px rgb(19, 19, 19)
}
#iconmain {
    color: rgb(36, 184, 36);
}